table {
	margin: 10px;
	border-collapse: collapse;
	border: 2px solid black;
}

tr {
	border: 2px solid black;
}

th {
	background-color: #F46036;
	border: 2px solid black;
	padding: 8px;
	text-align: center;
	color: #2E294E
}

td {
	border: 2px solid #2E294E;
	padding: 8px;
	text-align: center;
	color: #F46036
}

caption {
	color: #2E294E;
}